@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      #171717 1px
    );
    background-size: 4px 4px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
  }
/* 
  div {
    border: red;
    border-width: 1px;
    border-style: dotted;
  } */